@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color:#292929;
}

.container {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.button__global {
  font-size: 20px;
  height: 65px;
  border-radius: 4px;
  padding: 20px 40px;
  background-color: #01996D;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button__global:hover {
  color:#292929;
}


/* Шапка сайта */
.header__menu {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}

.header__links-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 557px;
  display: flex;
  justify-content: space-between;
}

.header__link {
  text-decoration: none;
  text-align:left;
  color: #292929;
  font-size:20px;
  font-weight:500;
  line-height:auto;
}

.header__link:hover {
  color: #01996D;
}

.header__buttons {
  width: 283px;
}

.header__buttons a {
  text-decoration: none;
}

.header__button-sign {
  padding-right: 35px;
  color:#292929;
  text-align:left;
  font-size:20px;
  font-weight:500;
  line-height:auto;
}

.header__button-sign:hover {
  color: #01996D;
}

.header__button-start {
  padding: 13px 50px;
}

.header__background {
  min-height: 895px;
  background-image: url(../img/BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding-top: 175px;
}

.header__title {
  font-size: 65px;
  font-weight: bold;
  font-family: 'Georgia', serif;
  max-width: 440px;
  color: #01996D;
}

.header__text {
  font-size: 20px;
  max-width: 420px;
  height: 123px;
  margin-bottom: 18px;
  color: #484848;
}

.header__button {
  width: 227px;
}
/* Конец шапки */

/* Основной контент */
/* Секция works */
.works {
  margin: 0 auto;
  margin-top: 169px;
  width: 1413px;
}

.works__title {
  color:#414141;
  text-align:left;
  font-size:24px;
}

.works__description{
  display: flex;
  justify-content: space-between;
}

.works__description-title {
  width: 584px;
  color:#01996d;
  font-size:50px;
  font-family:Georgia;
  font-weight:700;
}

.works__description-text {
  width: 671px;
  color:#414141;
  font-size:20px;
  font-weight:500;
  line-height:40px;
}

.works__card {
  margin-top: 52px;
  margin-bottom: 51px;
}

.works__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.works__list-item {
  position: relative;
  width: 413px;
}

.works__list-item:nth-child(2) {
  margin-top: 240px;
}

.works__card-title {
  color:rgba(1, 153, 109, 0.2);
  text-align:left;
  vertical-align:text-top;
  font-size:150px;
  font-family:Georgia;
  font-weight: normal;
  line-height:150px;
}

.works__card-title span {
  position: absolute;
  top: 40px;
  left: 100px;
  color:#000000;
  font-size:30px;
  font-family:Georgia;
  font-weight:700;
}

.works__card-text {
  margin-top: 55px;
  margin-bottom: 50px;
  color:#414141;;
  font-size:20px;
  font-family:Lato;
  font-weight:500;
  line-height:30px;
}

.works__card-image {
  width: 390px;
  height: 492px;
  border-radius: 12px;
}
/* Конец секции works */

/* Секция about */
.about {
  padding-top: 229px;
  padding-bottom: 177px;
  background-color: #245852;
}

.about__container {
  width: 1506px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.about__section-left {
  width: 580px;
}

.about__section-right {
  width: 896px;
}

.about__title {
  margin-top: 81px;
  color:#ffffff;
  font-size:50px;
  font-family:Georgia;
  font-weight:700;
  line-height:70px;
  width:580px;
  height:158px; 
}

.about__text {
  margin-top: 33px;
  margin-bottom: 77px;
  color:#ffffff;
  font-size:25px;
  font-family:Lato;
  font-weight:normal;
}

.about__button {
  text-decoration: none;
}

.about__section-right iframe {
  width: 896px;
  height: 516px;
  border-radius: 16px;
  border: none;
}
/* Конец секции about */

/* Секция product */

/* Конец секции product */
/* Конец основного контента */

/* Подвал сайта */
.footer {
  background-color: #245852;
  padding: 95px 0;
}

.footer__logo{
  margin-bottom: 60px;
}

.footer__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__menu-item, .footer__menu-list-link {
  color: #fff;
  font-style: 25px;
  text-decoration: none;
  margin-bottom: 60px;
}

.footer__menu-list-link:hover {
  opacity: 0.8;
}

.footer__menu-item:last-child {
  margin-bottom: 0;
}
/* Конец подвала */